body, html {
    height: 100%;
  }
  body{
      background-color: black;
      max-width: 100%;
      overflow-x: hidden;
  }
* {
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* font-family: 'Exo', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 0.8em;
    font-weight: 200;
}
.landing-img{
    background-image: url("../img/landing_img-phone-100px.jpg");
    background-position: center;
    height: 90vh;
    width: 100%;
    background-size: cover;
    position: relative;
    margin-top: 0px;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: 0 0; */
}
.header{
    display: flex;
    width: 55%;
    height: 100%;
    float: left;
    align-items: center;
    z-index: 2;
    margin-left: 2%;
}
.header a {
  text-decoration: none;
}
h1{
    font-family: 'Exo', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.social-icons {
    display: none;
}
.about-container{
    background-color: black;
    width: 100vw;
    height: fit-content;
    position: relative;
}
h2{
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 20px;
}
.about-header{
    position: absolute;
    top: 40px;
    left: 50px;
}
.about-img{
    display: block;
    max-width: 700px;
    text-align: center;
}
.text-container.about{
    padding: 25px 25px;
    margin: 0;
    position: relative;
    background-color: #252525;
    text-align: center;
    text-indent: 50px;
}
p{
    text-indent: 50px; 
}
.act-img{
    width: 100%;
    display: block; 
    max-width: 600px;
    margin: 0 auto;
    height: auto;
    padding-bottom: 20px;
}
.act-wrapper{
    display: block;
    justify-content: center;
    background-color: white; 
}
.act-info{
    padding: 40px;
}
.white{
    color: white;
}
.black{
    color: black;
}
.thumbnail-wrapper{
    max-width: 100%;
    padding: 40px;
}
.thumb-1, 
.thumb-2,
.thumb-3 {
    max-width: 100%;
    margin: 10px auto;
}

/*------->small mobile screen<---------*/
@media screen and (min-width: 350px) {
    h1{

    }
}
/*-------->tablet screen<----------*/
@media screen and (min-width: 479px) {
    .landing-img{
        background-image: url("../img/landing_img-tablet-100px.jpg");
        /* height: 100%; */
    }
    /* li:nth-child(1){
        margin-top: 20px;
    } */
    .thumbnail-wrapper{
        display: grid;
        grid-gap: 50px;
        grid-template-areas: 
        "thumb-1 thumb-2 thumb-3";
        padding: 80px;
    }
}

/*------>large tablet screen<-----------*/
@media screen and (min-width: 767px) {

    .about-header{
        top: 75px;
        left: 90px;
    }
    h2{
        font-size: 2.8em;
    }
    .social-icons{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 30px;
        bottom: 20%;
        padding: 5px;
        background-color: #8D98A0;
        opacity: 60%;
    }
    i{
        padding: 10px;
    }
    /*fix this hover pseudo*/
    i:hover{
        font-size: 34px;
        cursor: pointer;
    }
    .about-img{
        max-width: 90%;
    }
    .text-container.about{
        position: absolute;
        width: 28%;
        top: 15%;
        right: 60px;
        min-height: 200px;
        text-align: left;
    }
    p{
        font-size: 14px;
    }
    .act-wrapper{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px; 
    }
    .act-img{
        flex: 35%;
        align-self: center;
    }
    .act-info{
        flex: 35%;
    }
    
}
/*------>desktop screen<-----------*/
@media screen and (min-width: 991px) {
    p{
        font-size: 1em;
    }
    .landing-img{
        background-image: url("../img/landing_img-wide.jpg");
        /* height: 803px; */
        background-size: cover;
        width: 100% !important;
    }
    .text-container.about{
        top: 23%;
        padding: 40px 40px;
        min-height: 320px;
        width: 20%;
    }
    .act-wrapper{
        padding: 60px;
    }
}
.events-container{
    position: relative;
    height: 600px;
}
footer{
    color: white;
    position: relative;
    z-index: 9;
    width: 100%;
    background-color: #343a3c;
    height: 105px;
}
footer p{
    font-size: 0.7em;
    padding: 20px;
    float: left;
    text-indent: 0px;
}
.contact-icons{
    float: right;
    padding: 10px;
}
.contact-icons i{
    color: white;
}
.parent {
    position: relative;
    width: 100%;
}
.one, .two {
    position: absolute;
    height: 600px;
    width: 65%;
}
.one {
    left: 0;
    top: 0;
    background-image: url("../img/event-img-small.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%); 
}
.two {
    right: 0;
    top: 0;
    background-color: white;
    -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%); 
}
.two-text {
    max-width: 50%;
    position: absolute;
    right: 0px;
    padding: 230px 20px 0px;
}
.two-text p{
    display: none;
}

.cleared-text{
    background-color: white;
    color: black;
    padding: 40px;
}
.more{
    font-size: 0.7em;
    color: black;
    text-decoration: underline;
}
@media screen and (min-width: 479px) {
    .two-text {
        padding: 80px 20px 0px;
    }
    .two-text p{
        display: block;
    }
    .cleared-text{
        display: none;
    }
    .more{
        display: none;
    }
}
@media screen and (min-width: 991px) {
    .two-text {
        padding: 160px 20px 0px;
    }
}

/*large desktop*/
@media screen and (min-width: 1550px) {

    .act-img{
        max-width: 46%;
    }
    .act-info{
        padding: 120px;
    }
    .events-container, .one, .two{
        height: 990px;
    }
    .two-text{
        padding: 300px 200px;
        max-width: 40%;
    }
    footer p{
        font-size: 0.8em
    }

}